.App {
  text-align: center;
  font-family: monospace;
  color: greenyellow;
  background-color: rgb(83, 48, 48);
  background-image: url(https://c4.wallpaperflare.com/wallpaper/904/364/959/cave-fantasy-dark-gray-concrete-wall-wallpaper-preview.jpg);
  background-size: 2000px 1000px;
  border: solid green;
}

#headerText {
  font-family: fantasy;
  font-size: 5em;
}

a {
  color: orange;
}

a:hover {
  color: yellowgreen;
}

button {
  border-radius: 10px;
  background-color: tan;
  border: solid black;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px yellowgreen;
}

button:hover {
  border-radius: 10px;
  background-color: black;
  border: solid tan;
  color: darkolivegreen;
  font-size: 2.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px yellowgreen;
}
#about {
  height: 900px;
  width: auto;
  font-size: 1.5em;
}
#guestbook {
  height: 900px;
  width: auto;
}
#gameArea {
  height: auto;
  width: auto;
}

.choice {
  height: 900px;
  margin-left: 30%;
  width: 500px;
  background-image: url('https://wallpaperaccess.com/full/3405998.jpg');
  border: solid darkgreen;
  border-width: 2px;
  border-radius: 10px;
  font-size: 1.4em;
  padding: 10px;
}

li {
  font-size: 1.5em;
  flex-direction: row;
}
#trollCard {
  margin-left: 30%;
  justify-content: center;
  width: 40%;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url('https://wallpaperaccess.com/full/3405998.jpg');
  border: solid gold;
  border-width: 5px;
  border-radius: 10px;
  
}

#cardImage {
  border-radius: 10px;
  border: solid black;
  border-width: 5px;
  max-width: 75%;
}

p {
  font-weight: bolder;
  font-family: monospace;
  text-shadow: 0px 0px 20px goldenrod;
  font-size: 1.5em;
  flex-direction: row;
}

.navBarItems {
  font-size: 2.3em;
  /* border: solid white; */
  max-width: 25%;
    padding: 20px;
}
label {
  font-weight: bolder;
  font-family: monospace;
  text-shadow: 0px 0px 10px goldenrod;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#troll-name {
  font-size: 2.5em;
  font-family: monospace;
  text-shadow: 0px 0px 20px goldenrod;
}

.guestbookTitle {
  font-family: fantasy;
  font-size: 4em;
}

.guestbookDesc {
  font-size: 3em;
  text-shadow: 0px 2px 0px black;
  /* background-color: white; */
  
}

.storyBeg {
  font-family: fantasy;
  font-size: 3em;
  
}
.storyMed {
  font-family: monospace;
  font-size: 2em;
}
.storyEnd {
  font-family: fantasy;
  font-size: 1.5em;

}