.App {
  text-align: center;
  font-family: fantasy;
  color: greenyellow;
  background-color: rgb(83, 48, 48);
  background-image: url(https://c4.wallpaperflare.com/wallpaper/904/364/959/cave-fantasy-dark-gray-concrete-wall-wallpaper-preview.jpg);
  background-size: 2000px 1000px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trollList {
  border: solid;
  border-color: red;
}
.trollPage {
  border: solid;
  border-color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 10px;
  background-color: tan;
  border: solid black;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px yellowgreen;
}

button:hover {
  border-radius: 10px;
  background-color: black;
  border: solid tan;
  color: darkolivegreen;
  font-size: 2.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px yellowgreen;
}

a {
  color: orange;
}
a:hover {
  color: yellowgreen;
}
#about {
  height: 900px;
  width: auto;
}
#guestbook {
  height: 900px;
  width: auto;
}
#gameArea {
  height: 900px;
  width: auto;
}

.choice {
  height: 900px;
  margin-left: 30%;
  width: 500px;
  background-image: url('https://wallpaperaccess.com/full/3405998.jpg');
  border: solid darkgreen;
  border-width: 2px;
  border-radius: 10px;
  font-size: 1.4em;
  padding: 10px;
}

li {
  font-size: 1.5em;
  flex-direction: row;
}
#trollCard {
  margin-left: 30%;
  justify-content: center;
  width: 40%;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url('https://wallpaperaccess.com/full/3405998.jpg');
  border: solid gold;
  border-width: 5px;
  border-radius: 10px;
  
}

#cardImage {
  border-radius: 10px;
  border: solid black;
  border-width: 5px;
  max-width: 75%;
}

p {
  font-weight: bolder;
  font-family: monospace;
  text-shadow: 0px 0px 10px goldenrod;
  font-size: 1.5em;
  flex-direction: row;
}
li, label {
  font-weight: bolder;
  font-family: monospace;
  text-shadow: 0px 0px 10px goldenrod;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.swamp {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/050/162/029/large/andreea-florea-img-6126.jpg?1654189034');
}

.navBarItems {
  max-width: 30%;
  padding: 35px;
}

#troll-name {
  font-size: 2.5em;
  font-family: monospace;
  text-shadow: 0px 0px 10px goldenrod;
}